data/embeddings
data/graph_lists
data/pdb_structures
data/db_epitopes.db
data/explo.ipynb

data/epitope3d/embeddings/
data/epitope3d/pdb_structure/
data/epitope3d/README.md

data_new


src/mlruns
src/models/trained_model
src/feature_generation/adapt_original_ds/



latex/


config
venv


.vscode/
__pycache__/


*.pt
*.pth
*.db
*.gitignore
*.csv
*.pkl
*.log
*.pyc
*.env

.gitignore
.gitattributes